<!DOCTYPE html lang="es">
<html>
    <head>
        <title>DYAPO</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/style_blue.css">  
    </head>

<body>
    <h1>Título</h1>
    El gobierno prorrogó hasta el 31 de octubre las restricciones a las exportaciones de carne. En una resolución conjunta elaborada por el Ministerio de Desarrollo Productivo y la cartera de Agricultura y Ganadería, se definió que las ventas ganaderas al exterior por fuera de los cortes esenciales del mercado interno --cuyos despachos siguen suspendidos hasta diciembre-- mantengan el techo correspondiente al 50 por ciento de lo exportado el año pasado. Como era previsible, la decisión oficial despertó el rechazo de la dirigencia del agro.

    "En materia de precios, el impacto de las medidas que limitaron la venta al exterior de manera temporal ha comenzado a mostrar resultados positivos. Tras dos meses de vigencia, los precios se estabilizaron e incluso mostraron cierta retracción en distintos eslabones de la cadena. En consecuencia puede observarse que las medidas tomadas han cumplido el objetivo de reducir la dinámica de precios", indica la norma publicada en el Boletín Oficial.
    
    

    <h2>
        Subtítulo
    </h2>
    
    "Si bien la solución estructural a la tensión entre mercado externo y mercado interno se vincula con medidas que permitan aumentar la producción, en el corto plazo la herramienta de limitar las ventas al exterior es indispensable", agrega.
    
    El gobernador de La Pampa, Sergio Ziliotto, defendió la medida. "Hay que dar respuesta a todo el mundo. En el conjunto puede estar perjudicada una economía regional pero es en favor de una gran cantidad de consumidores”, indicó.
    
    Las limitaciones a las exportaciones comenzaron luego de las fuertes subas de los precios internos de la carne e irregularidades detectadas en algunas operaciones de exportación. Están exentos los embarques de carne vacuna que tienen como destino cumplimentar la cuota Hilton, la 481, el comercio con Estados Unidos y los envíos de carne kosher.

    new count = {{ count }}

    <br>

    <input type='button' value='btnir' class="btn btn-danger" onClick='doSaltar()'>
    
    <img src="/static/banderas.png" alt="banderas">

    <table>
        <tr>
            <td>col A</td>
            <td>col B</td>
        </tr>
    </table>

</body>
</html>
